<title>联系方式设置</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">后台首页</a>
    <a><cite>后台设置</cite></a>
    <a><cite>联系方式设置</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">联系方式设置</div>
        <div class="layui-card-body" pad15>
          <script type="text/html" template lay-url="/setting/contact">
            <div class="layui-form" style="padding: 20px 0 0 0;">
          <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-inline">
              <input type="text" name="user_name" value="{{ d.data.user_name || '' }}" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
              <input type="text" name="cellphone" value="{{ d.data.cellphone || '' }}" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-inline">
              <input type="text" name="address" value="{{ d.data.address || '' }}" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">联系邮箱</label>
            <div class="layui-input-inline">
              <input type="text" name="email" value="{{ d.data.email || '' }}" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">微信号</label>
            <div class="layui-input-inline">
              <input type="text" name="wechat" value="{{ d.data.wechat || '' }}" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">微信二维码</label>
            <div class="layui-input-inline">
              <button type="button" class="layui-btn" id="contact-qrcode">
                <i class="layui-icon">&#xe67c;</i>上传图片
              </button>
            </div>
            <div class="layui-form-mid">
              <input type="hidden" name="qrcode" value="{{ d.data.qrcode || '' }}" id="contact-qrcode-input">
              <img src="{{ d.data.qrcode || '' }}" class="site-logo-img" id="contact-qrcode-img"/>
            </div>
            <div class="layui-form-mid layui-word-aux">请上传微信二维码</div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
              <input type="button" lay-submit lay-filter="contact-submit" value="确认" class="layui-btn">
            </div>
          </div>
        </div>
        </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use('setting', layui.factory('setting'));
</script>