{% extends 'base.html' %}

{% block container %}
{% include "partial/crumb.html" %}
<div class="page">
    <div class="container">
        <div class="section page-item">
            <!-- content -->
            <div class="page-content">
                <div class="single-content-title">{% tr 'guestbook' %}</div>
                <div class="single-arc">
                    <form class="guestbook-form" action="/guestbook.html" method="post" enctype="multipart/form-data">
                        {% guestbook fields %}
                        {% for item in fields %}
                        {% if item.Type == "text" || item.Type == "number" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                <input type="{{item.Type}}" name="{{item.FieldName}}" {% if item.Required %}required{% endif %} placeholder="{{item.Content}}" autocomplete="off">
                            </div>
                        </div>
                        {% elif item.Type == "textarea" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                <textarea cols="30" rows="10" name="{{item.FieldName}}" {% if item.Required %}required{% endif %} placeholder="{{item.Content}}" rows="5"></textarea>
                            </div>
                        </div>
                        {% elif item.Type == "radio" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                {%- for val in item.Items %}
                                <label><input type="{{item.Type}}" name="{{item.FieldName}}" value="{{val}}"><span>{{val}}</span></label>
                                {%- endfor %}
                            </div>
                        </div>
                        {% elif item.Type == "checkbox" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                {%- for val in item.Items %}
                                <label><input type="{{item.Type}}" name="{{item.FieldName}}[]" value="{{val}}"><span>{{val}}</span></label>
                                {%- endfor %}
                            </div>
                        </div>
                        {% elif item.Type == "select" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                <select name="{{item.FieldName}}">
                                    {%- for val in item.Items %}
                                    <option value="{{val}}">{{val}}</option>
                                    {%- endfor %}
                                </select>
                            </div>
                        </div>
                        {% elif item.Type == "image" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                <input type="file" name="{{item.FieldName}}" {% if item.Required %}required lay-verify="required" {% endif %} placeholder="{{item.Content}}">
                            </div>
                        </div>
                        {% elif item.Type == "file" %}
                        <div class="form-item">
                            <div class="form-label">{{item.Name}}</div>
                            <div class="form-value">
                                <input type="file" name="{{item.FieldName}}" {% if item.Required %}required lay-verify="required" {% endif %} placeholder="{{item.Content}}">
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endguestbook %}
                        <div style="display: flex; clear: both">
            <input type="hidden" name="captcha_id" id="captcha_id">
            <input type="text" name="captcha" required placeholder="请填写验证码" class="layui-input" style="flex: 1">
            <img src="" id="get-captcha" style="width: 150px;height: 56px;cursor: pointer;" />
            <script>
              document.getElementById('get-captcha').addEventListener("click", function (e) {
                fetch('/api/captcha')
                        .then(response => {
                          return response.json()
                        })
                        .then(res => {
                          document.getElementById('captcha_id').setAttribute("value", res.data.captcha_id)
                          document.getElementById('get-captcha').setAttribute("src", res.data.captcha)
                        }).catch(err =>{console.log(err)})
              });
              document.getElementById('get-captcha').click();
            </script>
          </div>
                        <div class="form-control">
                            <button class="form-btn">{% tr 'submit' %}</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- content -->
            <!-- sidebar -->
            {% include "partial/sidebar.html" %}
            <!-- sidebar -->
        </div>
    </div>
</div>
{% endblock %}