{% extends 'base.html' %}

{% block container %}
{% include "partial/breadcrumb.html" %}
<div class="case-list container clearfix">
	<h1 class="index-case-title">{% categoryDetail with name="Title" %}</h1>
	<div class="case-list-content clearfix">
		<div class="page-content">
			<ul class="case-list-ul">
				{% archiveList products with type="page" limit="9" %}
				{% for item in products %}
				<li class="products-list-li">
					<div class="item">
						<div class="item-img">
							<a href="{{item.Link}}"><img src="{{item.Thumb}}" alt="{{item.Title}}"></a>
						</div>
						<div class="item-text">
							<h3><a href="{{item.Link}}">{{item.Title}}</a></h3>
						</div>
					</div>
				</li>
				<li class="case-list-li">
					<div class="item">
						<div class="item-img">
							<a href="{{item.Link}}"><img src="{{item.Thumb}}" alt=""></a>
						</div>
						<div class="item-text">
							<h3><a href="{{item.Link}}">{{item.Title}}</a></h3>
							<p>{{item.Description}}</p>
						</div>
					</div>
				</li>
				{% endfor %}
				{% endarchiveList %}
			</ul>
			{% include "partial/pagination.html" %}
		</div>
		{% include "partial/sidebar.html" %}
	</div>
</div>
{% endblock %}