<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}<title>{% tdk with name="Title" siteName=true %}</title>{% endblock %}
	<meta name="keywords" content="{% tdk with name='Keywords' %}">
	<meta name="description" content="{% tdk description with name='Description' %}{{description|escape}}">
	<link href="{% system with name='TemplateUrl' %}layui/css/layui.css" rel="stylesheet">
	<link rel="stylesheet" href="{% system with name='TemplateUrl' %}css/style.css">
	{%- tdk canonical with name="CanonicalUrl" %}
	{%- if canonical %}
	<link rel="canonical" href="{{canonical}}" />
	{%- endif %}
</head>

<body>
	<!-- header	 -->
	<header class="header">
		<!-- top -->
		<div class="top clearfix">
			<div class="container">
				<div class="top-left">
					欢迎光临{% system with name="SiteName" %}官方网站
				</div>
				<div class="top-right">
					<a href="/about.html">安企介绍</a>
					<a href="/contact.html">联系我们</a>
					<a href="/sitemap.xml" title="sitemap" target="_blank">网站地图</a>
					{% if !userInfo %}<a href="/login" title="login">登录/注册</a>{% endif %}
					{% if userInfo %}
					<a href="/account/index">欢迎：{{userInfo.UserName}}</a>
					<a href="/account/logout">退出</a>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- top -->
		<!-- logo -->
		<div class="head clearfix">
			<div class="container clearfix">
				<div class="logo">
					<a href="/"><img src="{% system with name='SiteLogo' %}" alt="{% system with name='SiteName' %}"></a>
				</div>
				<i class="layui-icon layui-icon-shrink-right m-menu-open"></i>
				<i class="layui-icon layui-icon-spread-left m-menu-close"></i>
				<div class="head-phone">
					<i class="layui-icon layui-icon-cellphone"></i>
					<div class="head-phone-text">
						<h4>24小时客服热线:</h4>
						<p>{% contact with name="Cellphone" %}</p>
					</div>
				</div>
				<div class="menu-headermenu-container">
					<ul class="menu">
						{% navList navList with typeId=1 %}
						{%- for item in navList %}
						<li class="menu-item {% if item.IsCurrent %} active{% endif %}">
							<a href="{{ item.Link }}">{{item.Title}}</a>
							{%- if item.NavList %}
							<ul class="sub-menu">
								{%- for inner in item.NavList %}
								<li class="menu-item">
									<a href="{{ inner.Link }}">{{inner.Title}}</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
						{% endnavList %}
					</ul>
				</div>
			</div>
		</div>
		<!-- logo -->
	</header>
	<!-- header	 -->

	{% block container %}
	<div class="layui-container">
		请不要编辑这里
	</div>
	{% endblock %}

	<footer class="footer clearfix">
		<div class="container">
			<!-- footer-top -->
			<div class="footer-top">
				<div class="footer-top-logo"><a href="/"><img src="{% system with name='SiteLogo' %}" alt=""></a></div>
				<div class="footer-top-menu">
					{% categoryList productCategories with moduleId="2" parentId="0" limit="8" %}
					{% for item in productCategories %}
					<a href="{{item.Link}}">{{item.Title}}</a>
					{% endfor %}
					{% endcategoryList %}
				</div>
			</div>
			<!-- footer-top -->
			<!-- footer-bottom -->
			<div class="footer-bottom">
				<div class="footer-solgin">买仪器，找安企</div>
				<div class="footer-contact">
					<h2>{% system with name="SiteName" %}</h2>
					<p><span>联系人：</span>{% contact with name="UserName" %}</p>
					<p><span>电 话：</span>{% contact with name="Cellphone" %}</p>
					<p><span>邮 箱：</span>{% contact with name="Email" %}</p>
					<p><span>地址：</span>{% contact with name="Address" %}</p>
				</div>
				<div class="footer-ew">
					<img src="{% contact with name='Qrcode' %}" alt="{% system with name='SiteName' %}">
					<p>扫码联系我们</p>
				</div>
			</div>
			<!-- footer-bottom -->
		</div>
		<div class="foot">
			<div class="container">
				{% system with name="SiteCopyright" %} ©2022 AnqiCMS {% system with name="SiteName" %}
				{% system siteIcp with name="SiteIcp" %}
				{% if siteIcp %}
				备案号：<a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">{% system with name="SiteIcp" %}</a>
				{% endif %}
			</div>
		</div>
	</footer>
	<!-- mfooter -->
	<div class="mfooter">
		<a href="tel:{% contact with name='Cellphone' %}" rel="nofollow">点我电话联系:{% contact with name="Cellphone" %}</a>
	</div>
	<!-- mfooter -->
	<!-- js -->
	<script src="{% system with name='TemplateUrl' %}layui/layui.js"></script>
	<script>
		layui.config({
			base: "{% system with name='TemplateUrl' %}js/"
		}).use('index'); //加载入口
	</script>
	{% block footer %}
	{% endblock %}
	<div class="layui-hide">
		{{- pluginJsCode|safe }}
	</div>
	<!-- js -->
</body>

</html>