<title>文章管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">后台首页</a>
        <a><cite>内容管理</cite></a>
        <a lay-href="/content/article/"><cite>文章管理</cite></a>
        <a><cite>功能设置</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">文章额外字段设置</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form" style="padding: 20px 0 0 0;" lay-filter="setting-form" id="setting-form">
                        <div style="padding-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary setting-control-btn" data-type="add">添加字段
                            </button>
                        </div>
                        <table id="article-setting" lay-filter="article-setting" data-type="default"></table>
                        <script type="text/html" id="table-setting-toolbar">
                            {{# if(!d.is_system){ }}
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                                        class="layui-icon layui-icon-edit"></i>编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                                        class="layui-icon layui-icon-delete"></i>删除</a>
                            {{# } }}
                        </script>
                        <div class="layui-form-item" style="margin-top: 20px;">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-inline">
                                <input type="button" lay-submit lay-filter="setting-submit" value="确认"
                                       class="layui-btn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('article', layui.factory('article'));
</script>