body {
	margin: 0;
	font: 15px/1.5 '微软雅黑';
	color: #555;
	background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0;
}
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
a {
	text-decoration: none;
	color:inherit;
}
a:hover {
	color: #b81b32;
}
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
table{
	width: 100%;
	border-right: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 15px;
}
th{
	padding: 15px 5px;
	border-top: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
	background: #04539b;
	color: #fff;
}
td{
	padding: 15px 5px;
	border-top: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
	text-align: center;
}
input{
	padding: 10px;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	height: 35px;
	width: calc(49% - 22px);
	float: left;
	margin-bottom: 15px;
	font-family: 'Roboto-Regular';
	font-size: 15px;
}
input:nth-child(even){
	float: right;
}
input:focus,textarea:focus{
	outline: 1px solid #b81b32;
}
textarea{
	padding: 10px;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	width: calc(100% - 22px);
	float: left;
	margin-bottom: 15px;
	font-family: 'Roboto-Regular';
	font-size: 15px;
}
.form-btn{
	background: #b81b32;
	color: #fff;
	text-transform: uppercase;
	padding:20px 45px;
	border: 1px solid #b81b32;
	border-radius: 5px;
	font-size: 18px;
}
.form-btn:hover{
	background: #2e2e2e;
	border: 1px solid #2e2e2e;
}
.container {
	max-width: 1600px;
	margin: 0 auto;
}
.btn{
	display: inline-block;
	padding: 15px 35px;
	border-radius: 4px;
	border: none;
}
/* reset */
.m-menu-open,.m-menu-close{
	display: none;
	float: right;
	font-size:40px;
	color: #000;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.top{
	background: #eee;
}
.top-left{
	float: left;
}
.top-right{
	float: right;
}
.top-right a{
	display: inline-block;
	position: relative;
	padding: 0 10px 0 0;
}
.top-right a::after{
	content: "|";
	padding-left: 10px;
}
.logo{
	float: left;
}
.head-phone{
	float: right;
}
.menu-headermenu-container > .menu > .menu-item > .sub-menu{
	display: none;
	background: rgba(63,144,249,0.9);
	color: #fff;
}
.menu-headermenu-container > .menu > .menu-item > .sub-menu > .menu-item > .sub-menu{
	display: none;
}
.index-title{
	background: url(../img/p.webp) no-repeat center;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.index-menu a{
	display: block;
	border-radius: 4px;
	transition:All 0.2s ease-in-out;
}
.index-menu a:hover{
	background: #3f90f9;
	color: #fff;
}
.index-products-ul{
	font-size: 0;
}
.index-products-li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.item{
	padding: 15px;
	border: 1px solid #eaeaea;
	border-radius: 4px;
}
.item:hover{
	border: 1px solid #ddd;
}
.item-img{
	border-bottom: 1px solid #eaeaea;
}
.item-text{
	font-size: 16px;
	padding: 15px 15px 0;
	text-align: center;
}
.item-text p{
	font-size: 15px;
	line-height: 26px;
	margin: 10px 0;
	color: #999;
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden;	
}
.index-about{
	background: #f7f7f7;
}
.index-about-text h3{
	color: #b81b32;
}
.index-about-text h4{
	color: #333;
	font-weight: bold;
}
.index-about-text p span{
	font-weight: bold;
	color: #333;
}
.index-about .btn{
	background: #b81b32;
	color: #fff;
	margin-top: 30px;
}
.index-about .btn:hover{
	background: #3f90f9;
}
.index-news-title{
	background: url(../img/n.webp) no-repeat center;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.index-case-title{
	background: url(../img/case.webp) no-repeat center;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.index-about-title{
	background: url(../img/about-bg.webp) no-repeat center;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.index-contact-title{
	background: url(../img/contact-bg.webp) no-repeat center;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.index-news-content-li{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.index-news-content-li i{
	display: block;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	flex-shrink: 0;
}
.index-news-content-li:nth-child(1) i{
	background: url(../img/1.webp);
}
.index-news-content-li:nth-child(2) i{
	background: url(../img/2.webp);
}
.index-news-content-li:nth-child(3) i{
	background: url(../img/3.webp);
}
.index-news-text{
	padding:0 15px;
}
.index-news-text-title h3{
    color: #333;
	font-weight: bold;
}
.index-news-text p{
	color: #999;
}
.index-news-text-title span{
	color: #999;
}
.index-news-content-li:nth-child(n+2){
	border-top: 1px solid #ededed;
}
.footer{
	background: #eee;
}
.footer-top-menu a{
	display: inline-block;
	padding: 10px 20px;
}
.footer-solgin{
	color: #b81b32;
	font-weight: bold;
	text-align: center;
}
.footer-contact h2{
	font-weight: bold;
	color: #333;
}
.footer-contact p span{
	font-weight: bold;
	color: #000;
}
.footer-ew p{
	text-align: center;
}
.foot{
	text-align: center;
	border-top: 1px solid #ddd;
	padding: 25px 0;
}
/* index style */
.crumb{
	padding: 20px 0;
	border: 1px solid #eee;
	color: #aaa;
}
.products-index-menu{
	background: #eee;
	text-align: center;
}
.products-index-menu a{
	display: inline-block;
	padding: 15px;
}
.products-title h2{
	float: left;
	font-weight: bold;
}
.products-title .btn{
	float: right;
	background: #3f90f9;
	color: #fff;
	border-radius: 20px;
	padding: 12px 30px;
}
.products-main-top{
	border: 1px solid #ddd;
	box-shadow: 0px 4px 9px 0px #ccc;
}
.products-main-top-item{
	background: #f8f8f8;
}
.products-main-top-text h1{
	color: #3f90f9;
}
.products-title-bg{
	background: url(../img/bg.webp) repeat-x center;
	height: 47px;
}
.products-title-bg img{
	float: left;
}
.products-list{
	background: #eee;
}
.products-ul{
	font-size: 0;
}
.products-li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.products-li .item{
	background: #fff;
}
.products-list-ul{
	font-size: 0;
}
.products-list-li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.wp-pagenavi{
	text-align: center;
}
.wp-pagenavi a,.wp-pagenavi span{
	display: inline-block;
	width: 55px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border: 1px solid #eee;
}
.wp-pagenavi a:hover,.wp-pagenavi span:hover{
	background: #3f90f9;
	color: #fff;
}
.products-text h1{
	font-weight: bold;
	color: #3f90f9;
}
.sidebar-list{
	margin-bottom: 30px;
}
.sidebar h2{
	background: #3f90f9;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}
.menu-sidebarmenu-container .menu-item{
	position: relative;
}
.menu-sidebarmenu-container .menu-item > a{
	display: block;
	font-size: 15px;
	padding: 15px 10px;
	border-bottom: 1px dashed #ddd;
}
.menu-sidebarmenu-container .menu-item::after{
	position: absolute;
	content:"\e602";
	font-family: "layui-icon";
	color:#3f90f9;
	right: 10px;
	top: 15px;
}
.side-nav-show.menu-item::after{
	content:"\e602";
}
.menu-sidebarmenu-container .sub-menu{
	display: none;
}
.menu-sidebarmenu-container .sub-menu .menu-item{
	border-bottom: 1px dashed #ddd;
	background: none;
	padding: 0;
}
.menu-sidebarmenu-container .sub-menu .menu-item::after{
	display: none;
}
.menu-sidebarmenu-container .sub-menu .menu-item a{
	display: block;
	width: calc(100% - 20px);
	padding: 15px 10px;
	background: #f2f2f2;
	font-size: 14px;
	color: #333;
	border-bottom: none;
	position: relative;
}
.menu-sidebarmenu-container .sub-menu .menu-item a:hover{
	color: #b81b32;
	background: #f9f9f9;
}
.menu-sidebarmenu-container .sub-menu .menu-item a::before{
	content:"\e65b";
	font-family: "layui-icon";
	margin-right:2px;
}
.side-nav-show .sub-menu {
	display: block;
}
.products-arc-img{
	border: 1px solid #eee;
}
.products-arc-text{
	padding: 15px;
}
.products-arc-text h1{
	font-weight: bold;
	font-size:22px;
    margin-bottom: 15px;
}
.products-arc-text p{
	font-size: 15px;
	line-height: 26px;
	margin-bottom: 15px;
}
.products-text-contact{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-size:22px;
}
.products-text-contact i{
	width:30px;
	text-align: center;
	display: block;
	flex-shrink: 0;
	color: #b81b32;
	font-size:32px;
}
.products-text-contact span{
	font-size: 24px;
	color: #b81b32;
	margin-left: 10px;
}
.sidebar-contact-item{
	background: #eee;
	padding: 10px;
}
.sidebar-contact-item h3{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin: 15px 0;
}
.sidebar-contact-item p{
	position: relative;
	padding: 5px 0 5px 30px;
	font-size: 16px;
}
.sidebar-contact-item p::before{
	content: "";
	position: absolute;
	border-top: 1px solid #3f90f9;
	width: 12px;
	height: 1px;
	top: 17px;
	left: 10px;
}
.arc h2{
	font-size: 22px;
	font-weight:bold;
	margin-bottom: 15px;
}
.arc h3{
	font-size: 20px;
	font-weight:bold;
	margin-bottom: 15px;
}
.arc h4{
	font-size: 18px;
	font-weight:bold;
	margin-bottom: 15px;
}
.arc h5{
	font-size: 16px;
	font-weight:bold;
	margin-bottom: 15px;
}
.arc h6{
	font-size: 14px;
	font-weight:bold;
	margin-bottom: 15px;
}
.arc p{
	font-size: 16px;
	line-height:30px;
	margin-bottom: 15px;
}
.arc img{
	margin-bottom: 15px;
}
.arc iframe{
	width: 100%;
	margin-bottom: 15px;
}
.arc table{
	min-width: 100%;
}
.arc td{
	white-space: nowrap;
}
.single-table{
	overflow-x: auto;
	margin-bottom: 15px;
}
.relpro{
	margin-top: 30px;
}
.relpro-ul{
	font-size: 0;
}
.relpro-li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.relpro-item{
	border: 1px solid #eee;
}
.relpro-text{
	font-size: 16px;
	text-align: center;
	background: #eee;
	padding: 15px;
}
.rel-title{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.rel-title i{
	font-size: 14px;
	padding: 0 4px;
	margin: 0 10px 0 0;
	background: #3f90f9;
}
.relblog-ul{
	font-size: 0;
}
.relblog-li{
	display: inline-block;
	vertical-align: top;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.relblog-li h3{
	position: relative;
	float: left;
	font-size: 16px;
	padding-left: 10px;	
}
.relblog-li h3::before{
	content: "";
	position: absolute;
	left: 0;
	top: 12px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #3f90f9;
}
.relblog-li span{
	font-size: 14px;
	float: right;
}
.blog-list-li{
	margin-bottom: 30px;
}
.blog-list-li-item{
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 15px;
}
.blog-list-text h3{
	font-size: 18px;
	font-weight: bold;
}
.time{
	margin: 10px 0;
	font-size: 14px;
	color: #999;
}
.time span:nth-child(2){
	display: inline-block;
	margin-left: 20px;
}
.blog-list-text p{
	font-size:15px;
	line-height:30px;
	color: #999;
	margin-bottom: 15px;
}
.blog-list-text .btn{
	border: 1px solid #eee;
	border-radius:30px;
	padding: 10px 30px;
}
.blog-list-text .btn:hover{
	background: #b81b32;
	border: 1px solid #b81b32;
	color: #fff;
}
.single-title{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid #eee;
}
.single-title h1{
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
	margin-bottom: 15px;
}
.case-list-ul{
	font-size: 0;
}
.case-list-li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.about-item1-text h2{
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
	margin-bottom:20px;
}
.about-item1-text p{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}
.about-item1-text h3{
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.about-item1-text p span{
	font-weight: bold;
	color:#3f90f9;
	margin-right: 10px;
}
.about-content p{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}
.contact-img{
	text-align: center;
}
.contact-img h3{
	font-weight: bold;
}
.contact-info h2{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 30px;
}
.contact-info p i{
	font-size: 18px;
	margin-right: 10px;
}
.contact-info p{
	font-size: 18px;
	margin-bottom: 20px;
}
.contact-form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-form h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.page404{
    text-align: center;
    padding: 50px 0;
}
.page404 h1{
    font-size: 100px;
    color: #b81b32;
    font-weight: bold;
    margin-bottom: 30px;
}
@media screen and (min-width: 769px) {
    .container{
        width: 760px;
        margin: 0 auto;
    }
	/* reset */
    .top{
        padding: 10px 0;
    }
    /* .head{
        padding: 10px 0;
    } */
    .head{
        padding: 15px 0;
    }
    .logo{
        width: 140px;
        margin-top:8px;
    }
    .head-phone{
        margin: 0 100px 0 0;
    }
    .menu-headermenu-container{
        float: right;
        top: 70px;
    }
    .menu-headermenu-container > .menu > .menu-item{
        display: inline-block;
        position: relative;
    }
    .menu-headermenu-container > .menu > .menu-item:hover .sub-menu{
        display: block;
        position: absolute;
        z-index: 111;
    }
    .menu-headermenu-container > .menu > .menu-item > .sub-menu > .menu-item{
        position: relative;
    }
    .menu-headermenu-container > .menu > .menu-item > .sub-menu > .menu-item:hover .sub-menu{
        display: block;
        position: absolute;
        width:150px;
        left: 151px;
        top: 0;
        background: rgba(63,144,249,0.9);
	    color: #fff;
    }
    .menu-headermenu-container > .menu > .menu-item > .sub-menu > .menu-item > .sub-menu > .menu-item > a{
        display: block;
        text-align: center;
        padding: 15px 0;
        width: 150px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .menu-headermenu-container > .menu > .menu-item > .sub-menu > .menu-item >:hover .sub-menu{
        display: block;
    }
    .menu-headermenu-container > .menu > .menu-item > a{
        display: block;
        padding: 0 20px;
        height: 90px;
        line-height: 90px;
        text-align: center;
    }
    .menu-headermenu-container > .menu > .menu-item > .sub-menu > .menu-item > a{
        display: block;
        width: 150px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        padding: 15px 0;
        text-align: center;
    }
    .head-phone{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 50px;
    }
    .head-phone i{
        font-size: 40px;
        flex-shrink: 0;
        color:#b81b32;
        text-align: center;
    }
    .head-phone-text{
        padding: 0 5px;
    }
    .head-phone-text h4{
        font-size: 14px;
        font-weight: bold;
        color: #2e2e2e;
    }
    .head-phone-text p{
        font-size: 24px;
    }
    .index-title{
        width: 575px;
	    height: 70px;
	    line-height: 70px;
	    margin: 70px auto 50px auto;
        font-size: 22px;
    }
    .index-menu{
        margin-bottom: 50px;
    }
    .index-menu a{
        height: 58px;
        line-height: 58px;
        text-align: center;
    }
    .index-menu a:hover{
        padding: 0 20px;
    }
    .index-products-li{
        width: 365px;
        margin-right: 30px;
    }
    .index-products-li:nth-child(even){
        margin-right: 0;
    }
    .index-about{
        padding: 80px 0;
        margin-top: 60px;
    }
    .index-about-img{
        margin-bottom: 30px;
    }
    .index-about-text h3{
        font-size: 16px;
        line-height: 30px;
    }
    .index-about-text h1{
        font-size:28px;
        font-weight: bold;
        line-height:45px;
        margin: 15px 0;
    }
    .index-about-text h4{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .index-about-text p{
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .index-news{
        padding-bottom: 60px;
    }
    .index-news-title,.index-case-title,.index-about-title,.index-contact-title{
        width: 575px;
	    height: 70px;
	    line-height: 70px;
	    margin: 70px auto 50px auto;
        font-size: 22px;  
    }
    .index-news-content-left{
        margin-bottom: 30px;
    }
    .index-news-text-title{
        margin-bottom: 15px;
    }
    .index-news-text-title h3{
        font-size: 16px;
        float: left;
    }
    .index-news-text-title span{
        float: right;
        font-size: 14px;
    }
    .index-news-content-li:nth-child(n+2){
       margin-top: 30px;
       padding-top: 30px;
    }
    .footer-top{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 50px 0;
        border-bottom: 1px solid #ddd;
    }
    .footer-top-logo{
        width: 150px;
        margin-right: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 50px 0;
    }
    .footer-solgin{
        width:35%;
        flex-shrink: 0;
        font-size: 35px;
    }
    .footer-contact{
        margin-right: 30px;
    }
    .footer-contact h2{
        font-size: 26px;
        margin-bottom: 30px;
    }
    .footer-contact p{
        margin-bottom: 15px;
        line-height: 26px;
    }
    .footer-ew{
        width: 20%;
    }
    .footer-ew p{
        margin-top: 15px;
    }
    /* index style */
    .products-index-menu a{
        font-size: 16px;
    }
    .products-title{
        margin:10px 0;
    }
    .products-title h2{
        font-size:24px;
        margin-top: 5px;
    }
    .products-main-top{
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .products-main-top-text{
        padding: 30px;
    }
    .products-main-top-text h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .products-main-top-text p{
        margin-bottom: 15px;
        line-height: 26px;
    }
    .products-list{
        padding:30px 0;
    }
    .products-li{
        width: 365px;
        margin-right: 30px;
    }
    .products-li:nth-child(even){
        margin-right: 0;
    }
    .products-list-li{
        width: 365px;
        margin-right: 30px;
    }
    .products-list-li:nth-child(even){
        margin-right: 0;
    }
    .wp-pagenavi{
        margin: 50px 0;
    }
    .products-img{
        border: 1px solid #eee;
    }
    .products-text{
        padding: 30px;
    }
    .products-text h1{
        font-size:30px;
        margin-bottom: 15px;
    }
    .products-text p{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .sidebar{
        margin-bottom: 30px;
    }
    .sidebar h2{
        font-size: 18px;
    }
    .products-arc-top{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .products-arc-img{
        width: 45%;
        flex-shrink: 0;
    }
    .products-arc-top{
        margin-bottom: 30px;
    }
    .relpro-li{
        width: 365px;
        margin-right: 30px;
    }
    .relpro-li:nth-child(even){
        margin-right:0;
    }
    .relblog-li{
        width: 365px;
        margin-right: 30px;
    }
    .relblog-li:nth-child(even){
        margin-right: 0;
    }
    .arc{
        padding: 15px;
    }
    .blog-cotnent{
        padding: 50px 0;
    }
    .single-title{
        padding: 15px;
    }
    .blog-list-li-item{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .blog-list-img{
        width: 30%;
        flex-shrink: 0;
    }
    .blog-list-text{
        padding: 30px;
    }
    .case-list-li{
        width: 365px;
        margin-right: 30px;
    }
    .case-list-li:nth-child(even){
        margin-right: 0;
    }
    .about-item1-text{
        padding: 30px 0;
    }
    .about-item2{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .about-item2-text h2{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .contact-item{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .contact-info{
        width:60%;
        flex-shrink: 0;
    }
    .contact-img{
        width:30%;
        flex-shrink: 0;
    }
    .mfooter{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1170px;
    }
    /* reset */
    .logo{
        margin-top: 20px;
    }
    .head-phone{
        margin: 20px 0 0 50px;
    }
    .index-menu{
        float: left;
        width: 200px;
    }
    .index-products-ul{
        float: right;
        width: 940px;
    }
    .index-products-li{
        width: 290px;
        margin-right: 35px;
    }
    .index-products-li:nth-child(even){
        margin-right: 35px;
    }
    .index-products-li:nth-child(3n+3){
        margin-right: 0;
    }
    .index-about-content{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .index-about-img{
        width: 45%;
        flex-shrink: 0;
    }
    .index-about-text-item{
        padding: 30px;
    }
    .index-news-content{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .index-news-content-left{
        width: 45%;
        flex-shrink: 0;
    }
    .index-news-content-right{
        padding-left: 30px;
    }
    .footer-contact{
        margin-right: 100px;
    }
    .footer-ew{
        width: 200px;
    }
    /* index style */
    .products-main-top-item{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .products-main-top-img{
        width: 45%;
        flex-shrink: 0;
    }
    .products-li{
        width: 270px;
    }
    .products-li:nth-child(even){
        margin-right: 30px;
    }
    .products-li:nth-child(4n+4){
        margin-right: 0;
    }
    .products-list-li{
        width: 370px;
    }
    .products-list-li:nth-child(even){
        margin-right: 30px;
    }
    .products-list-li:nth-child(3n+3){
        margin-right: 0;
    }
    .products-top{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sidebar{
        width: 280px;
        float: left;
    }
    .page-content{
        width: 850px;
        float: right;
    }
    .relpro-li{
        width:197px;
        margin-right:20px;
    }
    .relpro-li:nth-child(even){
        margin-right:20px;
    }
    .relpro-li:nth-child(4n+4){
        margin-right: 0;
    }
    .relblog{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .relblog-li{
        width: 410px;
    }
    .arc iframe{
        height: 540px;
    }
    .case-list-li{
        width:270px;
        margin-right: 20px;
    }
    .case-list-li:nth-child(even){
        margin-right: 20px;
    }
    .case-list-li:nth-child(3n+3){
        margin-right: 0;
    }
    .about-item1{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .about-item1-img{
        width: 45%;
        flex-shrink: 0;
    }
    .about-item1-text{
        padding: 30px;
    }
    .about-item2{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .about-item2-text{
        width: 30%;
        flex-shrink: 0;
        text-align: center;
    }
    .about-item2-img{
        width: 70%;
    }
    .about-item2-text h2{
        display: inline-block;
        background: #b81b32;
        border-radius: 10px;
        color: #fff;
        padding: 20px 40px;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        width: 1370px;
    }
	/* reset */
    .index-menu{
        width: 250px;
    }
    .index-products-ul{
        width: 1080px;
    }
    .index-products-li{
        width: 340px;
        margin-right: 30px;
    }
    .index-products-li:nth-child(even){
        margin-right: 30px;
    }
    .index-products-li:nth-child(3n+3){
        margin-right: 0;
    }
    /* index style */
    .products-li{
        width: 320px;
    }
    .products-list-li{
        width: 430px;
        margin-right: 40px;
    }
    .products-list-li:nth-child(even){
        margin-right: 40px;
    }
    .products-list-li:nth-child(3n+3){
        margin-right: 0;
    }
    .page-content{
        width: 1050px;
    }
    .products-arc-text{
        padding: 40px;
    }
    .relpro-li{
        width: 240px;
        margin-right: 30px;
    }
    .relpro-li:nth-child(even){
        margin-right: 30px;
    }
    .relpro-li:nth-child(4n+4){
        margin-right: 0;
    }
    .relblog-li{
        width: 510px;
    }
    .case-list-li{
        width: 340px;
        margin-right: 15px;
    }
    .case-list-li:nth-child(even){
        margin-right: 15px;
    }
    .case-list-li:nth-child(3n+3){
        margin-right: 0;
    }
    .about-item1{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1650px) {
    .container{
        width: 1620px;
    }
	/* reset */
    .index-products-ul{
        width: 1300px;
    }
    .index-products-li{
        width: 406px;
    }
    .index-news-content-left{
        width:30%;
        padding-left: 60px;
    }
    .index-news-content-right{
        padding-left: 100px;
    }
    .footer-solgin{
        width: 30%;
    }
    /* index style */
    .products-li{
        width: 377px;
    }
    .products-list-li{
        width: 500px;
        margin-right: 50px;
    }
    .products-list-li:nth-child(even){
        margin-right: 50px;
    }
    .products-list-li:nth-child(3n+3){
        margin-right: 0;
    }
    .page-content{
        width: 1270px;
    }
    .relpro-li{
        width: 295px;
    }
    .relblog-li{
        width: 610px;
        margin-right: 50px;
    }
    .relblog-li:nth-child(even){
        margin-right: 0;
    }
    .case-list-li{
        width: 400px;
        margin-right: 35px;
    }
    .case-list-li:nth-child(even){
        margin-right: 35px;
    }
    .case-list-li:nth-child(3n+3){
        margin-right: 0;
    }
}
@media screen and (max-width: 1199px) {
    .container{
        position: relative;
    }
    .m-menu-open{
        display: block;
    }
    .m-nav-show .m-menu-open{
        display: none;
    }
    .m-nav-show .m-menu-close{
        display: block;
    }
    .m-nav-show .menu-headermenu-container{
        display: block;
    }
    /* reset */
    .menu-headermenu-container{
        display: none;
        position: absolute;
        background: #fff;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }
    .m-menu-open,.m-menu-close{
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px) {
	.container{
		width: 345px;
        margin: 0 auto;
	}
    /* reset */
    .m-menu-open,.m-menu-close{
        margin-top: 0;
    }
    .menu-headermenu-container{
        top:60px;
        z-index: 11;
    }
    .menu-headermenu-container > .menu > .menu-item > a{
        display: block;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #fafafa;
    }
    .logo{
        width: 120px;
    }
    .head{
        padding: 20px 0;
    }
    .head-phone{
        display: none;
    }
    .top-left{
        float: none;
        text-align: center;
        padding: 10px 0;
    }
    .top-right{
        display: none;
    }
    .index-title{
        width: 250px;
	    height: 30px;
	    line-height: 30px;
	    margin: 50px auto 30px auto;
        font-size: 22px;
    }
    .index-menu{
        margin-bottom: 30px;
    }
    .index-menu a{
        height: 35px;
        line-height: 35px;
        text-align: center;
    }
    .index-about{
        padding: 50px 0;
    }
    .index-about-img{
        margin-bottom: 30px;
    }
    .index-about-text h3{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .index-about-text h1{
        font-size:28px;
        font-weight: bold;
        line-height:45px;
        margin: 15px 0;
    }
    .index-about-text h4{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .index-about-text p{
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .index-news{
        padding-bottom: 50px;
    }
    .index-news-title,.index-case-title,.index-about-title,.index-contact-title{
        width: 250px;
	    height: 30px;
	    line-height: 30px;
	    margin: 50px auto 30px auto;
        font-size: 22px;
    }
    .index-news-content-left{
        margin-bottom: 30px;
    }
    .index-news-content-li:nth-child(n+2){
        margin-top: 30px;
        padding-top: 30px;
    }
    .index-news-text-title{
        margin-bottom: 10px;
    }
    .index-news-text-title h3{
        margin-bottom: 10px;
    }
    .index-news-text p{
        line-height: 26px;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        overflow:hidden; 
    }
    .footer-top{
        padding: 30px 0;
    }
    .footer-top-logo{
        margin-bottom: 30px;
    }
    .footer-solgin{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .footer-contact h2{
        font-size: 26px;
        margin-bottom: 30px;
    }
    .footer-contact p{
        margin-bottom: 15px;
        line-height: 26px;
    }
    .footer-ew p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /* index style */
    .products-main-top{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .products-main-top-text{
        padding: 15px;
    }
    .products-main-top-text h1{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .products-main-top-text p{
        margin-bottom: 15px;
        line-height: 26px;
    }
    .products-title{
        margin:10px 0;
    }
    .products-title h2{
        font-size:24px;
        margin-top: 5px;
    }
    .arc iframe{
        height: 250px;
    }
    .sidebar{
        margin: 30px 0;
    }
    .relblog-li{
        width: 100%;
    }
    .blog-cotnent{
        padding: 30px 0;
    }
    .about-item1-text{
        padding: 30px 0;
    }
    .about-item2{
        padding-bottom: 30px;
    }
    .about-item2-text{
        font-size: 22px;
        color: #000;
        text-align: center;
        margin-bottom: 20px;
    }
    .mfooter{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .mfooter a{
        display: block;
        padding: 20px 0;
        background: #b81b32;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
}