body {
	margin: 0;
	font: 0.14rem/1.5 Microsoft YaHei, Source Han Sans CN, sans-serif;
	color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

img {
	display: block;
	margin: 0 auto;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	border-radius: 0.03rem;
}

a {
	text-decoration: none;
	color: #222222;
	transition: all .4s ease-in-out 0s;
}

a:hover {
	color: #0068AB;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

table {
	max-width: 100%;
	margin-top: 0.15rem;
	border-collapse: collapse;
}

table,
th,
td {
	border: 0.01rem solid #f0f0f0;
}

th {
	background: #0068AB;
	color: #fff;
	font-weight: 100;
}

th,
td {
	text-align: center;
	padding: 0.1rem;
}

input {
	font-family: 'Montserrat-Regular';
	padding: 0.15rem;
	margin-bottom: 0.15rem;
	height: 0.3rem;
	border: 0.01rem solid #dadada;
}

textarea {
	font-family: 'Montserrat-Regular';
	padding: 0.15rem;
	margin-bottom: 0.15rem;
	border: 0.01rem solid #dadada;
}

input:focus,
textarea:focus {
	outline: 0.01rem solid #0068AB;
}

.hide {
	display: none;
}

.formbtn {
	background: #0068AB;
	color: #fff;
	padding: 0.15rem 0.5rem;
	border: none;
	font-size: 0.18rem;
	text-transform: uppercase;
}

.formbtn:hover {
	background: #222222;
	color: #fff;
}

.imgitem {
	position: relative;
	height: 0;
	padding-bottom: 66.66%;
}

.imgitem img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* reset */
/* tool bar */
.tool-bar {
	position: fixed;
}

.tool-item-cap {
	background: rgba(0, 0, 0, .45);
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
}

.tool-item-cap .fa {
	line-height: 1;
}

.tool-item-cap.active {
	background: #0068AB;
	color: #fff;
}

.tool-bar .back-top {
	cursor: pointer;
}

.tool-qrcode {
	position: absolute;
	background: #fff;
	text-align: center;
}

.tool-tel {
	position: absolute;
	right: 0;
	background: #0068AB;
	color: #fff;
	text-align: center;
	white-space: nowrap;
}

.tool-tel a {
	display: block;
	color: #fff;
}

.tool-item-sub {
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s
}

.tool-item:hover .tool-item-sub, .tool-item.active .tool-item-sub {
	visibility: visible;
	opacity: 1
}

/* end tool bar */
/* mobile menu */
.m-menu-open,
.m-menu-close {
	display: none;
}

.nav-menu-child {
	display: none;
}

/* mobile menu */
/* side */
.accordion {
	display: flex;
	flex-direction: column;
}

.accordion-item {
	background-color: #f6f6f6;
	font-size: 0.16rem;
	border: none;
	color: #000;
	cursor: pointer;
	padding: 15px;
	text-align: left;
	outline: none;
	transition: background-color 0.6s ease;
	border-bottom: 0.01rem solid #fff;
}

.accordion-item.active {
	background-color: #f6f6f6;
}

.accordion-item-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.6s ease;
}

.ind-pro-nav-ul li a {
	position: relative;
	font-size: 0.15rem;
	display: block;
	padding: 0.1rem;
}

.ind-pro-nav-ul li a:hover {
	background: #0068AB;
	color: #fff;
}

.ind-pro-nav-ul li a::before {
	content: "\f196";
	font-family: FontAwesome;
	display: inline-block;
	margin-right: 0.05rem;
}

/* side */
/* top */
.top {
	background: #0068AB;
	color: #fff;
	padding: 0.1rem 0;
}

.top-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-item a {
	display: inline-block;
	color: #fff;
	padding: 0 0.1rem;
}

.top-item a:nth-child(n+2) {
	border-left: 0.01rem solid #fff;
}

.top-item a:hover {
	color: #222;
}

/* top */
/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	max-height: 0.3rem;
}

/* header */
/* ind-tag */
.ind-tag {
	background: #f6f6f6;
	padding: 0.15rem 0;
}

.ind-tag span {
	font-weight: bold;
	color: #0068AB;
	font-size: 0.16rem;
}

.ind-tag a {
	display: inline-block;
	padding: 0 0.1rem;
}

/* ind-tag */
/* ind-pro */
.ind-pro-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.3rem;
	border-bottom: 0.01rem solid #f6f6f6;
}

.ind-pro-title h2 {
	position: relative;
	font-size: 0.2rem;
	font-weight: bold;
	padding: 0.05rem 0;
}

.ind-pro-title h2::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.01rem;
	width: 0.8rem;
	height: 0.02rem;
	background: #0068AB;
}

.ind-pro-title .more {
	color: #0068AB;
}

.ind-pro-title .more:hover {
	color: #000;
}

.ind-pro-ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ind-pro-ul li {
	box-sizing: border-box;
	margin-bottom: 0.3rem;
	width: 49%;
}

.ind-pro-ul .list-item {
	background: #f6f6f6;
	border: 0.01rem solid #f1f1f1;
	transition: 0.4s;
}

.ind-pro-ul .list-item:hover {
	transform: translateY(-0.1rem);
}

.ind-pro-ul .list-item-text {
	padding: 0.15rem;
	text-align: center;
}

.ind-pro-ul .list-item-text h3 {
	white-space: nowrap;
	overflow: hidden;
}

.ind-pro-nav h2 {
	background: #0068AB;
	font-size: 0.2rem;
	font-weight: bold;
	color: #fff;
	padding: 0.15rem 0.1rem;
}

/* ind-pro */
/* ind-about */
.ind-about {
	background: #f6f6f6;
}

.ind-about-text h2 {
	font-size: 0.26rem;
	font-weight: bold;
	color: #0068AB;
	margin: 0.15rem 0;
}

.ind-about-text p {
	font-size: 0.15rem;
	line-height: 0.26rem;
	margin-bottom: 0.15rem;
}

.ind-about-text .more {
	display: inline-block;
	padding: 0.15rem 0.3rem;
	background: #0068AB;
	color: #fff;
	font-size: 0.16rem;
	font-weight: bold;
}

.ind-about-text .more:hover {
	background: #222;
}

/* ind-about */
/* ind-case */
.ind-case-title {
	position: relative;
	text-align: center;
	font-size: 0.2rem;
	font-weight: bold;
	color: #222;
	margin-bottom: 0.3rem;
}

.ind-case-title::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 1rem;
	height: 0.02rem;
	background: #0068AB;
	margin-top: 0.1rem;
}

.ind-case-ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ind-case-ul li {
	box-sizing: border-box;
	margin-bottom: 0.3rem;
}

.ind-case-ul .list-item {
	border: 0.01rem solid #f6f6f6;
}

.ind-case-ul .list-item-text {
	padding: 0.15rem;
}

.ind-case-ul .list-item-text h3 {
	font-size: 0.15rem;
	font-weight: bold;
	margin-bottom: 0.1rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: nowrap;
}

.ind-case-ul .list-item-text p {
	color: #797979;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* ind-case */
/* ind-blog */
.ind-blog {
	border-top: 0.01rem solid #f6f6f6;
}

.ind-blog-ul .list-item {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	background: #f6f6f6;
	padding: 0.15rem;
}

.ind-blog-ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ind-blog-ul li {
	box-sizing: border-box;
	margin-bottom: 0.3rem;
}

.ind-blog-time {
	box-sizing: border-box;
	width: 20%;
	background: #0068AB;
	color: #fff;
	padding: 0.1rem 0;
	text-align: center;
	margin: auto;
}

.ind-blog-text {
	box-sizing: border-box;
	width: 80%;
	padding-left: 0.15rem;

}

.ind-blog-text h3 {
	font-weight: bold;
	font-size: 0.15rem;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.ind-blog-text p {
	color: #797979;
	margin: 0.06rem 0;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.ind-blog-time span {
	font-size: 0.3rem;
	font-weight: bold;
	display: inline-block;
	border-bottom: 0.01rem solid #fff;
}

.ind-blog-time p {
	margin: 0.05rem 0;
}

/* ind-blog */
/* flink */
.flink {
	background: #f6f6f6;
	padding: 0.15rem 0;
}

.flink a {
	display: inline-block;
	padding: 0.05rem 0.1rem;
}

/* flink */
/* footer */
.footer {
	background: #6b6b6b;
	color: #fff;
}

.foot img {
	max-width: 1.5rem;
	display: inline-block;
}

.foot a {
	color: #fff;
}

.foot a:hover {
	color: #000;
}

.foot h2 {
	font-size: 0.18rem;
	font-weight: bold;
	margin-bottom: 0.15rem;
}

.foot p {
	margin: 0.1rem 0;
}

.foot p i {
	display: inline-block;
	background: #fff;
	color: #0068AB;
	border-radius: 0.04rem 0.1rem;
	width: 0.25rem;
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
}

.foot h3 {
	margin-bottom: 0.15rem;
}

.footer-ul li {
	margin: 0.05rem 0 0.05rem 0.05rem;
	font-size: 0.15rem;
}

.footer-bottom {
	border-top: 0.01rem solid rgba(255, 255, 255, .1);
	text-align: center;
	padding: 0.15rem 0;
}

.footer-bottom a {
	color: #fff;
}

.footer-bottom a:hover {
	color: #000;
}

/* footer */
/* layout */
/* index-product */
.index-pro-item:nth-child(even) {
	margin-top: 0.3rem;
}

.index-pro-item h2 {
	text-align: center;
	font-size: 0.24rem;
	font-weight: bold;
	position: relative;
	margin-bottom: 0.3rem;
}

.index-pro-ul {
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.index-pro-ul li {
	box-sizing: border-box;
	width: 50%;
	padding: 0.1rem;
	margin-bottom: 0.3rem;
	transition: 0.4s;
}

.index-pro-ul li:hover {
	transform: translateY(-0.1rem);
}

.index-pro-ul .list-item-text {
	padding: 0.15rem;
	text-align: center;
	background: #f6f6f6;
	border: 0.01rem solid #f1f1f1;
}

.index-pro-ul .list-item-text h3 {
	white-space: nowrap;
	overflow: hidden;
}

/* index-product */
/* list-product */
/* crumb */
.crumb {
	background: #f6f6f6;
	font-size: 0.15rem;
	padding: 0.15rem;
}

/* crumb */
.list-pro-ul {
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.list-pro-ul li {
	box-sizing: border-box;
	width: 50%;
	padding: 0.1rem;
	margin-bottom: 0.3rem;
	transition: 0.4s;
}

.list-pro-ul li:hover {
	transform: translateY(-0.1rem);
}

.sidebar {
	margin-top: 0.3rem;
}

.side {
	margin-bottom: 0.3rem;
}

.side h2 {
	padding: 0.15rem 0.1rem;
	background: #0068AB;
	color: #fff;
	font-weight: bold;
	font-size: 0.2rem;
}

.side-item {
	border: 0.01rem solid #f6f6f6;
}

.side-pro-ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0.15rem;
}

.side-pro-ul li {
	box-sizing: border-box;
	width: 49%;
	margin-bottom: 0.15rem;
}

.side-pro-ul .list-item-text {
	padding: 0.15rem;
	text-align: center;
	background: #f6f6f6;
}

.side-pro-ul .list-item-text h3 {
	white-space: nowrap;
	overflow: hidden;
}

.side-item p {
	padding: 0.05rem 0 0.1rem 0.1rem;
}

.side-blog-ul {
	padding: 0.1rem;
}

.side-blog-ul li:nth-child(n+2) {
	margin-top: 0.1rem;
	padding-top: 0.1rem;
	border-top: 0.01rem dashed #f6f6f6;
}

.side-blog-ul li a {
	display: block;
	width: 100%;
}

.list-pro-ul .list-item {
	border: 0.01rem solid #f1f1f1;
}

.list-pro-ul .list-item-text {
	padding: 0.15rem;
	text-align: center;
	background: #f6f6f6;
}

.list-pro-ul .list-item-text h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* list-product */
/* pagination */
.pagnavi {
	padding: 0.5rem 0;
	text-align: center;
}

.pagnavi a {
	display: inline-block;
	padding: 0.05rem 0.15rem;
	border: 0.01rem solid #0068AB;
}

.pagnavi a:hover {
	background: #0068AB;
	color: #fff;
}

.pagnavi .current {
	background: #0068AB;
	color: #fff;
}

/* pagination */
/* single-pro */
.toppro {
	padding-top: 1rem;
}

.toppro-text h1 {
	font-size: 0.3rem;
	font-weight: bold;
	margin: 0.15rem 0;
}

.toppro-text p {
	color: #797979;
	font-size: 0.15rem;
	line-height: 0.24rem;
	margin: 0.15rem 0;
}

.toppro-text .more {
	font-size: 0.16rem;
	border-radius: 0.04rem;
	display: inline-block;
	border: 0.01rem solid #0068AB;
	background: #0068AB;
	color: #fff;
	padding: 0.1rem 0.3rem;
}

.toppro-text .more:hover {
	border: 0.01rem solid #0068AB;
	color: #0068AB;
	background: #fff;
}

.single-arc h2 {
	font-size: 0.22rem;
	margin-top: 0.15rem;
	font-weight: bold;
}

.single-arc h3 {
	font-size: 0.2rem;
	margin-top: 0.15rem;
	font-weight: bold;
}

.single-arc h4 {
	font-size: 0.18rem;
	margin-top: 0.15rem;
	font-weight: bold;
}

.single-arc h5 {
	font-size: 0.16rem;
	margin-top: 0.15rem;
	font-weight: bold;
}

.single-arc h6 {
	font-size: 0.14rem;
	margin-top: 0.15rem;
	font-weight: bold;
}

.single-arc p {
	margin-top: 0.15rem;
	line-height: 0.26rem;
}

.single-arc a {
	color: #0068AB;
}

.single-arc a:hover {
	color: #000;
}

.single-arc img {
	margin-top: 0.15rem;
	max-width: 100%;
	width: auto;
}

.single-arc iframe {
	display: block;
	margin-top: 0.15rem;
}

/* single-pro */
/* rel */
.rel {
	margin-bottom: 0.3rem;
}

.rel h2 {
	font-size: 0.22rem;
	font-weight: bold;
	border-bottom: 0.01rem solid #f6f6f6;
	padding-bottom: 0.1rem;
	margin-bottom: 0.3rem;
}

/* rel */
.rel-pro-ul {
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.rel-pro-ul li {
	box-sizing: border-box;
	width: 50%;
	padding: 0.1rem;
}

.rel-pro-ul .list-item-text {
	padding: 0.15rem;
	text-align: center;
	background: #f6f6f6;
	border: 0.01rem solid #f1f1f1;
}

/* rel */
/* list-solution */
.list-sol-ul li {
	margin-bottom: 0.3rem;
	transition: 0.4s;
}

.list-sol-ul li:hover {
	transform: translateY(-0.1rem);
}

.list-sol-ul .list-item-text {
	padding: 0.15rem;
	background: #f6f6f6;
}

.list-sol-ul .list-item-text h3 {
	font-size: 0.17rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;

}

.list-sol-ul .list-item-text p {
	color: #797979;
	margin: 0.15rem 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* list-solution */
/* list-case */
.list-case-ul .list-item-text {
	padding: 0.15rem;
}

.list-case-ul .list-item-text h3 {
	font-size: 0.17rem;
}

.list-case-ul .list-item-text p {
	margin: 0.1rem 0;
	color: #797979;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.list-case-ul li:nth-child(n+2) {
	border-top: 0.01rem solid #f6f6f6;
	margin-top: 0.3rem;
	padding-top: 0.3rem;
}

/* list-case */
/* list-blog */
.list-blog-ul li {
	margin-bottom: 0.3rem;
	background: #f6f6f6;
	padding: 0.15rem;
}

.list-blog-ul li h3 {
	font-size: 0.17rem;
	margin: 0.1rem 0;
	position: relative;
	padding-left: 0.1rem;
}

.list-blog-ul li h3::before {
	content: "";
	width: 0.05rem;
	height: 0.15rem;
	display: block;
	background: #0068AB;
	position: absolute;
	left: 0;
	top: 0.05rem;
}

.list-blog-ul li p {
	margin: 0.15rem 0;
	color: #797979;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* list-blog */
/* single-blog */
.single-content-title {
	font-size: 0.22rem;
	position: relative;
	color: #0068AB;
	font-weight: bold;
	border-bottom: 0.01rem solid #f6f6f6;
	margin-bottom: 0.3rem;
}

.single-content-title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0.9rem;
	height: 0.02rem;
	background: #0068AB;
}

.single-title {
	border-bottom: 0.01rem solid #f6f6f6;
	padding-bottom: 0.15rem;
}

.single-title h1 {
	font-size: 0.26rem;
	font-weight: bold;
	margin-bottom: 0.1rem;
}

.tags {
	margin: 0.15rem 0;
}

.tags a {
	margin-right: 0.1rem;
}

.prenext {
	border-top: 0.01rem solid #f6f6f6;
	border-bottom: 0.01rem solid #f6f6f6;
	margin: 0.15rem 0;
}

.prenext p {
	margin: 0.15rem 0;
}

.prenext span {
	font-weight: bold;
}

/* single-blog */
/* 404 */
.page404 {
	text-align: center;
	padding: 1rem 0;
	border-top: 0.01rem solid #f6f6f6;
}

.page404 h1 {
	font-weight: bold;
	font-size: 1rem;
	color: #0068AB;
	font-weight: bold;
	margin-bottom: 0.3rem;
}

.languages {
	margin-left: 10px;
}
.language-item {
	display: flex;
	align-items: center;
}
.language-icon {
	width: 20px;
	height: 16px;
	object-fit: contain;
	margin-right: 5px;
}

/* 404 */
/* pc style */
@media screen and (min-width: 768px) {
	html {
		font-size: 625%;
	}

	.container {
		width: 7.6rem;
		margin: 0 auto;
	}

	/* reset */
	/* tool bar */
	.tool-bar {
		right: 5px;
		bottom: 200px;
		z-index: 99;
	}

	.tool-item {
		position: relative;
		width: 80px;
		height: 64px;
		margin-bottom: 1px;
	}

	.tool-item-cap {
		border-radius: 4px;
	}

	.tool-item-cap:hover {
		background: #0068AB;
	}

	.tool-item-cap .fa {
		margin-top: 10px;
		font-size: 24px;
	}

	.tool-item-name {
		font-size: 13px
	}

	.tool-qrcode {
		top: 0;
		right: 80px;
		padding: 10px 10px 1px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
		border-radius: 4px;
	}

	.tool-qrcode .wechat-qrcode {
		margin-bottom: 10px;
	}

	.tool-qrcode .wechat-qrcode .qrcode {
		height: 128px;
		width: 128px;
		border: 1px solid #eaeaea;
		border-radius: 4px;
		padding: 3px;
		margin-bottom: 4px;
	}

	.tool-qrcode .qrcode img {
		height: 120px;
		width: 120px
	}

	.tool-qrcode .qrcode-name {
		margin-bottom: 10px;
		font-size: 13px;
		color: #666;
	}

	.tool-tel {
		top: 0;
		width: 280px;
		height: 64px;
		border-radius: 4px;
		line-height: 64px;
		font-size: 28px;
	}

	.tool-tel .fa {
		margin-right: 20px;
	}

	/* end tool bar */
	/* header */
	.header {
		padding: 0.3rem 0;
	}

	.logo-tel {
		margin-left: 0.6rem;
	}

	.logo-tel p {
		font-weight: bold;
		font-size: 0.15rem;
	}

	.logo-tel a {
		color: #0068AB;
		font-weight: bold;
		font-size: 0.3rem;
		line-height: 0.3rem;
	}

	.logo-tel a:hover {
		color: #222;
	}

	/* header */
	/* layout */
	.section {
		padding: 0.8rem 0;
	}

	.ind-case-ul li {
		width: 49%;
	}

	/* ind-case */
	/* ind-blog */
	.ind-blog-ul li {
		width: 49%;
	}

	/* ind-blog */
	/* footer */
	.footer-item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.foot {
		box-sizing: border-box;
		width: 49%;
	}

	.foot:nth-child(3),
	.foot:nth-child(4) {
		margin: 0.3rem 0;
	}

	/* footer */
	/* layout */
	/* list-solution */
	.list-sol-ul {
		display: flex;
		/* justify-content: space-between; */
		flex-wrap: wrap;
	}

	.list-sol-ul li {
		box-sizing: border-box;
		width: 50%;
		padding: 0.1rem;
	}

	/* list-solution */
	/* list-case */
	.list-case-ul .list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.list-case-ul .list-item-img {
		width: 30%;
	}

	.list-case-ul .list-item-text {
		width: 70%;
		padding-left: 0.3rem;
	}

	/* list-case */
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 625%;
	}

	.container {
		width: 11.7rem;
	}

	/* reset */
	/* header */
	.navbar {
		display: flex;
		align-items: center;
	}

	.nav-menu {
		display: flex;
	}

	.nav-menu-child-child {
		display: none;
		width: 2rem;
		background: #f6f6f6;
		box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, .1);
		z-index: 99;
	}

	.nav-menu-child-child>li {
		display: block;
	}

	.nav-menu-child-child>li:nth-child(n+2) {
		border-top: 0.01rem solid rgba(0, 0, 0, .1);
	}

	.nav-menu-child-child>li>a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0.1rem 0;
	}

	.nav-menu-child-child>li>a:hover {
		background: #0068AB;
		color: #fff;
	}

	.nav-menu>li {
		position: relative;
		display: inline-block;
	}

	.nav-menu>li>a {
		font-size: 0.15rem;
		font-weight: 500;
		display: block;
		padding: 0.15rem;
	}

	.nav-menu-child>li {
		position: relative;
	}

	.nav-menu-child>li:nth-child(n+2) {
		border-top: 0.01rem solid rgba(0, 0, 0, .1);
	}

	.nav-menu-child>li:hover .nav-menu-child-child {
		display: block;
		position: absolute;
		left: 100%;
		top: 0;
	}

	.nav-menu-child>li>a {
		display: block;
		text-align: center;
		padding: 0.1rem 0.05rem;
	}

	.nav-menu-child>li>a:hover {
		background: #0068AB;
		color: #fff;
	}

	.nav-menu>li:hover .nav-menu-child {
		display: block;
		position: absolute;
		z-index: 99;
		width: 120%;
		left: 0;
		background: #f6f6f6;
		box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, .1);
	}

	/* header */
	/* layout */
	/* ind-pro */
	.ind-pro-item {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.ind-pro-list {
		box-sizing: border-box;
		width: 80%;
	}

	.ind-pro-nav {
		box-sizing: border-box;
		width: 20%;
		padding-right: 0.3rem;
	}

	.ind-pro-ul li {
		width: 24%;
	}

	/* ind-pro */
	/* ind-about */
	.ind-about-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.ind-about-img {
		box-sizing: border-box;
		width: 40%;
	}

	.ind-about-text {
		box-sizing: border-box;
		width: 60%;
		padding: 0.3rem;
	}

	/* ind-about */
	/* ind-case */
	.ind-case-ul li {
		width: 24%;
	}

	/* ind-case */
	/* footer */
	.foot {
		width: 24%;
	}

	.foot:nth-child(3),
	.foot:nth-child(4) {
		margin: 0;
	}

	/* footer */
	/* layout */
	/* index-product */
	.index-pro-ul li {
		width: 25%;
	}

	/* index-product */
	/* list-product */
	.page-item {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.page-content {
		box-sizing: border-box;
		width: 75%;
	}

	.sidebar {
		box-sizing: border-box;
		width: 25%;
		padding-right: 0.3rem;
		margin-top: 0;
	}

	.list-pro-ul li {
		width: 33.33%;
	}

	/* list-product */
	/* single-pro */
	.toppro {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.toppro-img {
		width: 45%;
	}

	.toppro-text {
		width: 55%;
		padding: 0.3rem 0.3rem 0.6rem 0.3rem;
	}

	/* single-pro */
	/* rel */
	.rel-pro-ul li {
		width: 25%;
	}

	/* rel */
	/* list-solution */
	.list-sol-ul li {
		width: 33.33%;
	}

	/* list-solution */
}

@media screen and (min-width: 1400px) {
	html {
		font-size: 625%;
	}

	.container {
		width: 13.7rem;
		margin: 0 auto;
	}

	/* reset */

}

/* m style */
@media screen and (max-width: 1200px) {

	.m-menu-open,
	.m-menu-close {
		width: 0.3rem;
		height: 0.3rem;
		line-height: 0.3rem;
		font-size: 0.3rem;
	}

	.m-menu-open {
		display: inline-block;
	}

	.m-nav-show .m-menu-open {
		display: none;
	}

	.m-nav-show .m-menu-close {
		display: inline-block;
	}

	.nav-menu {
		display: none;
	}

	.nav-menu>li>a {
		display: block;
		background: #fff;
		padding: 0.1rem;
	}

	.m-nav-show .nav-menu {
		display: block;
		position: absolute;
		z-index: 111;
		top: 15%;
		right: 0;
		width: 100%;
	}

	.m-nav-show .nav-menu li {
		display: block;
		border-top: 0.01rem solid #f0f0f0;
		text-align: center;
	}

	/* tool bar */
	.tool-bar {
		bottom: 0;
		z-index: 10;
		width: 100%;
		font-size: 0.16rem;
	}

	.tool-item {
		float: left;
		width: 25%;
		height: 0.8rem;
	}

	.tool-item-cap .fa {
		margin-top: 0.2rem;
		font-size: 0.3rem;
	}

	.tool-item-name {
		margin-top: 0.1rem;
		font-size: 0.18rem;
	}

	.tool-qrcode {
		bottom: 100%;
		left: 0;
		width: 100%;
		padding: 0.4rem 0 0.2rem;
	}

	.tool-qrcode .wechat-qrcode {
		display: inline-block;
		margin: 0 0.4rem;
	}

	.tool-qrcode .wechat-qrcode .qrcode {
		width: 2.08rem;
		height: 2.08rem;
		padding: 0.04rem;
	}

	.tool-qrcode .qrcode img {
		height: 2rem;
		width: 2rem;
	}

	.tool-tel {
		top: -100%;
		width: 100%;
		height: 1rem;
		line-height: 1rem;

	}

	.tool-tel a {
		font-size: 0.3rem;
		color: #fff;
	}

	/* end tool bar */
}

@media screen and (max-width: 768px) {
	.container {
		margin-left: 0.15rem;
		margin-right: 0.15rem;
	}

	/* reset */
	/* header */
	/* tool bar */
	.tool-bar {
		left: 0;
		bottom: 0;
		width: 100%;
		border-top: 0.03rem solid #0068AB;
	}

	.tool-item {
		float: left;
		width: 25%;
	}

	.tool-item .fa {
		font-size: 0.18rem;
		margin-top: 0.18rem;
	}

	/* end tool bar */
	/* top */
	.top-left {
		display: none;
	}

	.top-right {
		width: 100%;
		text-align: center;
	}

	/* top */
	/* header */
	.header {
		padding: 0.15rem 0;
	}

	.logo-tel {
		display: none;
	}

	/* header */
	/* layout */
	.section {
		padding: 0.3rem 0;
	}

	/* footer */
	.foot {
		margin-bottom: 0.3rem;
	}

	/* footer */
	/* layout */
	/* single-pro */
	.toppro {
		padding-top: 0.3rem;
	}

	.single-table {
		overflow-x: auto;
		width: 100%;
	}

	/* single-pro */
}