<div class="layui-card">
    <div class="layui-card-header">{% system with name="SiteName" %}</div>
    <div class="layui-card-body layui-text">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td>当前版本</td>
                <td>
                    AnqiCMS-v{{version}}
                </td>
            </tr>
            <tr>
                <td>开发者</td>
                <td>
                    Sinclair Liang
                </td>
            </tr>
            <tr>
                <td>主要特色</td>
                <td>安企内容管理系统(AnqiCMS)，是一款使用 GoLang 开发的企业站内容管理系统，它部署简单，软件安全，界面优雅，小巧，执行速度飞快，使用 AnqiCMS 搭建的网站可以防止众多安全问题发生。</td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td style="padding-bottom: 0;">
                    <a href="https://github.com/fesiong/goblog" target="_blank">https://github.com/fesiong/goblog</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>