<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="applicable-device" content="mobile">
    <title>{% if webInfo.Title %}{{webInfo.Title}} - {% endif %}{{settingSystem.SiteName}}</title>
    {% if webInfo.Keywords %}<meta name="keywords" content="{{webInfo.Keywords}}">{% endif %}
    {% if webInfo.Description %}<meta name="description" content="{{webInfo.Description}}">{% endif %}
    <link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
</head>
<body>
<div class="layui-header">
    <div class="layui-container">
        <a href="{{GetUrl("index", nil, 0)}}">
            <div class="layui-logo">{% if settingSystem.SiteLogo %}<img class="logo" src="{{settingSystem.SiteLogo}}" alt="{{settingSystem.SiteName}}"> {% endif %}{{settingSystem.SiteName}}</div>
        </a>
        <ul class="layui-nav layui-layout-left nav-list">
            {%- for item in navList %}
                <li class="layui-nav-item{% if webInfo.NavBar == item.PageId %} layui-this{% endif %}">
                    <a href="{{ item.Link }}">{{item.Title}}</a>
                    {%- if item.NavList %}
                    <dl class="layui-nav-child">
                        {%- for inner in item.NavList %}
                            <dd class="{% if webInfo.NavBar == inner.PageId %} layui-this{% endif %}">
                                <a href="{{ inner.Link }}">{{inner.Title}}</a>
                            </dd>
                        {% endfor %}
                    </dl>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
