{% pagination pages with show="5" %}
<!-- pageination -->
<div class="pagnavi">
    <a href="{{pages.FirstPage.Link}}" class="{% if pages.FirstPage.IsCurrent %}current{% endif %}">{% tr 'first-page' %}</a>
    {% if pages.PrevPage %}
    <a href="{{pages.PrevPage.Link}}"><i class="fa fa-angle-left"></i></a>
    {% endif %}
    {% for item in pages.Pages %}
    {% if item.IsCurrent %}
    <a href="javascript:;" class="current">{{item.Name}}</a>
    {% else %}
    <a href="{{item.Link}}">{{item.Name}}</a>
    {% endif %}
    {% endfor %}
    {% if pages.NextPage %}
    <a href="{{pages.NextPage.Link}}"><i class="fa fa-angle-right"></i></a>
    {% endif %}
    <a href="{{pages.LastPage.Link}}" class="{% if pages.LastPage.IsCurrent %}current{% endif %}">{% tr 'last-page' %}</a>
    <a href="javascript:;">{% tr 'total-items%d' pages.TotalItems %}</a>
</div>
<!-- pagination -->
{% endpagination %}