<title>图片资源管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">后台首页</a>
    <a><cite>内容管理</cite></a>
    <a><cite>图片资源管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">图片资源管理</div>
        <div class="layui-card-body" pad15>
          <div style="padding-bottom: 10px;">
            <button class="layui-btn" id="attachment-upload">上传新图片</button>
            <button class="layui-btn layui-btn-primary attachment-control-btn" data-type="delete">删除</button>
          </div>
          <div class="layui-fluid">
            <div class="layui-row layui-col-space10 attachment-list layui-form" lay-filter="attachment-list-form">
              
            </div>
          </div>
          <div class="attachment-page" id="attachment-page"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="attachment-item">
  <div class="layui-col-xs6 layui-col-sm3 layui-col-md2">
    <div class="attachment-item">
      <div class="inner">
        <input type="checkbox" name="attachment[]" value="{{d.id}}"/>
        <img src="{{d.thumb}}" data-src="{{d.logo}}" class="attachment-image" />
        <div class="item-title">{{d.file_name}}</div>
      </div>
    </div>
  </div>
</script>

<script>
  layui.use('attachment', layui.factory('attachment'));
</script>