{% extends 'base.html' %}

{% block container %}
{% include "partial/breadcrumb.html" %}
<div class="products-index clearfix">
	<div class="index-title">{% categoryDetail with name="Title" %}</div>
	{% categoryList productCategories with %}
	{% if productCategories %}
	<div class="products-index-menu clearfix">
		<div class="layui-container">
			{% for item in productCategories %}
			<a href="{{item.Link}}">{{item.Title}}</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% endcategoryList %}
	<div class="container clearfix">
		<!-- products main -->
		<div class="products-main-top">
			<div class="products-main-top-item">
				<div class="products-main-top-img">
					<img src="{% categoryDetail with name='Logo' %}" alt="">
				</div>
				<div class="products-main-top-text">
					<h1><a href="{% categoryDetail with name='Link' %}">{% categoryDetail with name="Title" %}</a></h1>
					<p>{% categoryDetail with name="Description" %}</p>
				</div>
			</div>
		</div>
		<!-- products main -->
	</div>
	<!-- products list -->
	<div class="container clearfix">
		<ul class="products-list-ul">
			{% archiveList products with type="page" limit="9" %}
			{% for item in products %}
			<li class="products-list-li">
				<div class="item">
					<div class="item-img">
						<a href="{{item.Link}}"><img src="{{item.Thumb}}" alt="{{item.Title}}"></a>
					</div>
					<div class="item-text">
						<h3><a href="{{item.Link}}">{{item.Title}}</a></h3>
					</div>
				</div>
			</li>
			{% endfor %}
			{% endarchiveList %}
		</ul>
		{% include "partial/pagination.html" %}
	</div>
	<!-- products list -->
</div>
{% endblock %}