<title>流量统计</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">后台首页</a>
    <a><cite>数据统计</cite></a>
    <a><cite>流量统计</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">流量统计</div>
        <div class="layui-card-body" pad15>
          <div id="traffic-echarts" style="width: 100%;height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use('statistic', layui.factory('statistic'));
</script>