<div class="category aside-item zodiac">
    <h2>十二生肖起名</h2>
    <ul>
        <li><a href="/zodiac/mice">生肖属鼠</a></li>
        <li><a href="/zodiac/cattle">生肖属牛</a></li>
        <li><a href="/zodiac/tiger">生肖属虎</a></li>
        <li><a href="/zodiac/rabbit">生肖属兔</a></li>
        <li><a href="/zodiac/dragon">生肖属龙</a></li>
        <li><a href="/zodiac/snake">生肖属蛇</a></li>
        <li><a href="/zodiac/horse">生肖属马</a></li>
        <li><a href="/zodiac/sheep">生肖属羊</a></li>
        <li><a href="/zodiac/monkey">生肖属猴</a></li>
        <li><a href="/zodiac/chick">生肖属鸡</a></li>
        <li><a href="/zodiac/dog">生肖属狗</a></li>
        <li><a href="/zodiac/pig">生肖属猪</a></li>
    </ul>
</div>