{% extends 'base.html' %}
{% block container %}
<!-- banner -->
<div class="layui-carousel banner" id="index-banner">
	<div carousel-item>
		{% bannerList banners %}
			{% for item in banners %}
			<a class="banner-item" href="{{item.Link}}" target="_blank">
				<img src="{{item.Logo}}" alt="{{item.Alt}}" />
			</a>
			{% endfor %}
		{% endbannerList %}
	</div>
</div>
<!-- banner -->
<!-- products -->
<div class="index-products clearfix">
	<div class="container">
		<div class="index-title">明星产品</div>
		<div class="index-products-content clearfix">
			<div class="index-menu">
				{% categoryList productCategories with moduleId="2" parentId="0" limit="8" %}
				{% for item in productCategories %}
				<a href="{{item.Link}}">{{item.Title}}</a>
				{% endfor %}
				{% endcategoryList %}
			</div>
			<ul class="index-products-ul">
				{% archiveList products with moduleId=2 type="list" limit="6" %}
				{% for item in products %}
				<li class="index-products-li">
					<div class="item">
						<div class="item-img">
							<a href="{{item.Link}}"><img src="{{item.Thumb}}" alt="{{item.Title}}"></a>
						</div>
						<div class="item-text">
							<h3><a href="{{item.Link}}" title="{{item.Title}}">{{item.Title}}</a></h3>
						</div>
					</div>
				</li>
				{% endfor %}
				{% endarchiveList %}
			</ul>
		</div>
	</div>
</div>
<!-- products -->
<!-- about -->
<div class="index-about clearfix">
	<div class="container">
		<div class="index-about-content">
			<div class="index-about-img">
				<img src="{% system with name='TemplateUrl' %}img/about.webp" alt="">
			</div>
			<div class="index-about-text">
				<div class="index-about-text-item">
					<h3>买仪器，找安企，客户放心，代理商赚钱</h3>
					<h1>{% system with name="SiteName" %}</h1>
					<p>上海安企仪器设备有限公司成立于2011年，致力为全球实验室用户提供更智能更高效的智能样品前处理设备、温湿度试验设备，和智能分析自动平台设备等的高新技术企业。</p>
					<h4>主营产品：</h4>
					<div class="index-about-text-list">
						{% categoryList productCategories with moduleId="2" parentId="0" limit="8" %}
						{% for item in productCategories %}
						<a href="{{item.Link}}">{{item.Title}}</a>
						{% endfor %}
						{% endcategoryList %}
					</div>
					<a href="tel:{% contact with name='Cellphone' %}" class="btn" rel="nofollow">联系我们</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about -->
<!-- news -->
<div class="index-news clearfix">
	<div class="container">
		<div class="index-news-title">
			新闻中心
		</div>
		<div class="index-news-content">
			{% archiveList articles with moduleId=1 type="list" limit="0,1" %}
			{% for item in articles %}
			<div class="index-news-content-left">
				<div class="item">
					<div class="item-img">
						<a href="{{item.Link}}" title="{{item.Title}}"><img src="{{item.Thumb}}" alt="{{item.Title}}"></a>
					</div>
					<div class="item-text">
						<h3><a href="{{item.Link}}" title="{{item.Title}}">{{item.Title}}</a></h3>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endarchiveList %}
			<ul class="index-news-content-right">
				{% archiveList articles with moduleId=1 type="list" limit="1,3" %}
				{% for item in articles %}
				<li class="index-news-content-li">
					<i class="fa"></i>
					<div class="index-news-text">
						<div class="index-news-text-title clearfix">
							<h3><a href="{{item.Link}}" title="{{item.Title}}">{{item.Title}}</a></h3>
							<span>{{stampToDate(item.CreatedTime, "2006-01-02")}}</span>
						</div>
						<p>{{item.Description}}</p>
					</div>
				</li>
				{% endfor %}
				{% endarchiveList %}
			</ul>
		</div>
	</div>
</div>
<!-- news -->
{% endblock %}