{% extends 'base.html' %}

{% block container %}
{% include "partial/breadcrumb.html" %}
<!-- about -->
<div class="page container clearfix">
	<h1 class="index-about-title">公司介绍</h1>
	<div class="page-item clearfix">
		<div class="about-item1 clearfix">
			<div class="about-item1-img">
				<img src="{% system with name='TemplateUrl' %}img/about-1.webp" alt="">
			</div>
			<div class="about-item1-text">
				<h2>上海安企仪器设备有限公司</h2>
				<p><span>企业愿景:</span>成为世界一流的科学仪器生产服务商。</p>
				<p><span>企业使命:</span>致力于温湿度，样品前处理的研究与应用，为中国智造提供更精准，安全，可靠的科研设备奋斗终身。</p>
				<p><span>企业价值观:</span>心无旁骛、精益求精、以客户为中心，其他一切水到渠成。</p>
				<p><span>品牌价值观:</span>更安全，更精确，更高效。</p>
				<h3>经营理念:</h3>
				<p>锐意进取，通过优质产品及服务提供最佳解决方案。</p>
				<p>以人为本，实现用户、企业、员工的价值最优化。</p>
				<p>求实上进，不断提高员工专业素质及技术水平。</p>
				<p>我们的成功源自于为您不断提供满意的服务和高效生产力。</p>
			</div>
		</div>
		<div class="about-content clearfix">
			{% pageDetail content with name="Content" %}
			{{content|safe}}
		</div>
		<div class="about-item2 clearfix">
			<div class="about-item2-text">
				<h2>安企仪器展览厅</h2>
			</div>
			<div class="about-item2-img">
				<img src="{% system with name='TemplateUrl' %}img/about-2.webp" alt="">
			</div>
		</div>
	</div>
</div>
<!-- about -->
{% endblock %}