{% extends 'base.html' %}

{% block container %}
{% include "partial/breadcrumb.html" %}
<div class="blog-index clearfix">
	<!-- single content -->
	<div class="container clearfix">
		<!-- single cotnent -->
		<div class="blog-cotnent clearfix">
			<div class="page-content">
				<div class="single-title">
					<h1>{{page.Title}}</h1>
				</div>
				<div class="arc clearfix">
					{% pageDetail pageContent with name="Content" %}
					{{pageContent|safe}}
				</div>
				<!-- relblog -->
				<div class="relblog clearfix">
					<h3 class="rel-title"><i></i>相关页面</h3>
					<ul class="relblog-ul">
						{% pageList allPages %}
						{% for item in allPages %}
						<li class="relblog-li">
							<h3><a href="{{item.Link}}">{{item.Title}}</a></h3>
							<span>{{stampToDate(item.CreatedTime, "2006-01-02")}}</span>
						</li>
						{% endfor %}
						{% endpageList %}
					</ul>
				</div>
				<!-- relblog -->
			</div>
			{% include "partial/sidebar.html" %}
		</div>
		<!-- single cotnent -->
	</div>
	<!-- single content -->
</div>
{% endblock %}