<div class="layui-card">
    <div class="layui-card-header">{{SiteName}}</div>
    <div class="layui-card-body layui-text">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td>当前版本</td>
                <td>
                    irisweb-v{{version}}
                </td>
            </tr>
            <tr>
                <td>开发者</td>
                <td>
                    Sinclair Liang
                </td>
            </tr>
            <tr>
                <td>主要特色</td>
                <td>简单易用的irisweb框架开发的golang版本博客，同时支持企业站使用，支持微信小程序、百度智能小程序等多端小程序接入</td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td style="padding-bottom: 0;">
                    <a href="https://github.com/fesiong/goblog" target="_blank">https://github.com/fesiong/goblog</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>