{% extends 'base.html' %}

{% block container %}
{% include "partial/breadcrumb.html" %}
<div class="blog-index clearfix">
  <!-- single content -->
  <div class="container clearfix">
    <!-- single cotnent -->
    <div class="blog-cotnent clearfix">
      <div class="page-content">
        <div class="single-title">
          <h1>{% archiveDetail with name="Title" %}</h1>
          <div class="time">
            <span>发布时间：{% archiveDetail with name="CreatedTime" format="2006-01-02" %}</span>
            <span>作者：<a>{% system with name="SiteName" %}</a></span>
          </div>
        </div>
        <div class="arc clearfix">
          {% archiveDetail productContent with name="Content" %}
          {{productContent|safe}}
        </div>
        <!-- relpro -->
        <div class="relpro clearfix">
          <h3 class="rel-title"><i></i>相关产品</h3>
          <ul class="relpro-ul">
            {% archiveList products with moduleId=2 type="list" limit="4" %}
            {% for inner in products %}
            <li class="relpro-li">
              <div class="relpro-item">
                <div class="relpro-img">
                  <a href="{{inner.Link}}"><img src="{{inner.Thumb}}" alt="{{inner.Title}}"></a>
                </div>
                <div class="relpro-text">
                  <h4><a href="{{inner.Link}}">{{inner.Title}}</a></h4>
                </div>
              </div>
            </li>
            {% endfor %}
            {% endarchiveList %}
          </ul>
        </div>
        <!-- relpro -->
        <!-- relblog -->
        <div class="relblog clearfix">
          <h3 class="rel-title"><i></i>相关文章</h3>
          <ul class="relblog-ul">
            {% archiveList articles with moduleId=1 type="related" limit="10" %}
            {% for inner in articles %}
            <li class="relblog-li">
              <h3><a href="{{inner.Link}}">{{inner.Title}}</a></h3>
              <span>{{stampToDate(inner.CreatedTime, "2006-01-02")}}</span>
            </li>
            {% endfor %}
            {% endarchiveList %}
          </ul>
        </div>
        <!-- relblog -->
      </div>
      {% include "partial/sidebar.html" %}
    </div>
    <!-- single cotnent -->
  </div>
  <!-- single content -->
</div>
{% endblock %}