{% extends 'base.html' %}

{% block container %}
<div class="layui-container index">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-breadcrumb">
                {% breadcrumb crumbs with title=false %}
                {% for item in crumbs %}
                <a href="{{item.Link}}">{{item.Name}}</a>
                {% endfor %}
                {% endbreadcrumb %}
            </div>
            <div class="layui-card article-detail">
                <div class="layui-card-body">
                    <h1 class="title">{% archiveDetail with name="Title" %}</h1>
                    <div class="meta">
                        {% archiveDetail category with name="Category" %}
                        {% if category %}<span><a href="{{category.Link}}">{{category.Title}}</a></span>{% endif %}
                        <span>{% archiveDetail with name="CreatedTime" format="2006-01-02" %}</span>
                        <span>{% archiveDetail with name="Views" %} 阅读</span>
                    </div>
                    {% archiveParams params %}
                    <div class="extra">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            {% for item in params %}
                            <tr>
                                <td>{{item.Name}}</td>
                                <td>
                                    {{item.Value}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endarchiveParams %}
                    {% archiveParams params with sorted=false %}
                    <div class="extra">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>{{params.author.Name}}</td>
                                <td>
                                    {{params.author.Value}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{params.verify.Name}}</td>
                                <td>
                                    {{params.verify.Value}}
                                </td>
                            </tr>

                            <tr>
                                <td>{{params.task.Name}}</td>
                                <td>
                                    {{params.task.Value}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endarchiveParams %}
                    <div class="article-body">
                        {% archiveDetail articleContent with name="Content" %}
                        {{articleContent|safe}}
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="article-prev-next">
                        <li>
                            {% prevArchive prev %}
                            上一篇：
                            {% if prev %}
                            <a href="{{prev.Link}}">{{prev.Title}}</a>
                            {% else %}
                            没有了
                            {% endif %}
                            {% endprevArchive %}
                          </li>
                          <li>
                              {% nextArchive next %}
                              下一篇：
                              {% if next %}
                              <a href="{{next.Link}}">{{next.Title}}</a>
                              {% else %}
                              没有了
                              {% endif %}
                              {% endnextArchive %}
                          </li>
                    </div>
                </div>
            </div>
            {% include "partial/comment.html" %}
        </div>

        <div class="layui-col-md4">
            {% include "partial/author.html" %}
            <div class="layui-card">
                <div class="layui-card-header">文章分类</div>
                <div class="layui-card-body">
                    {% categoryList articleCategories with moduleId="1" parentId="0" %}
                    <ul class="aside-list">
                        {% for item in articleCategories %}
                        <li class="item {% if item.IsCurrent %}active{% endif %}">
                            <a href="{{item.Link}}" class="link">
                                <h5 class="title">{{item.Title}}</h5>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endcategoryList %}
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">最新文章</div>
                <div class="layui-card-body">
                    {% archiveList popularArticles with type="list" order="id desc" limit="6" %}
                    <ul class="aside-list">
                        {% for item in popularArticles %}
                        <li class="item">
                            <a href="{{item.Link}}" class="link">
                                <h5 class="title">{{item.Title}}</h5>
                                <span class="extra">{{item.Views}}阅读</span>
                            </a>
                        </li>
                        {% empty %}
                        <li class="item empty">
                            无最新文章
                        </li>
                        {% endfor %}
                    </ul>
                    {% endarchiveList %}
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">相关文章</div>
                <div class="layui-card-body">
                    {% archiveList relationList with type="related" limit="6" %}
                    <ul class="aside-list">
                        {% for item in relationList %}
                        <li class="item">
                            <a href="{{item.Link}}" class="link">
                                <h5 class="title">{{item.Title}}</h5>
                                <span class="extra">{{item.Views}}阅读</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endarchiveList %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}